@font-face {
    font-family: 'britanica';
    src: url('./britanica.woff2') format('woff2'),
         url('./britanica.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}